/* Селектор по тегу - применяет стили ко всем тегам на странице */
header {
  color: brown;
}

/* Селектор по классу - применяет стили ко всем элементам с указанным классом */
.paragraph {
  color: teal;
}

.paragraph-main {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* Селектор по ID - применяет стили к элементу с указанным ID */
#first-id {
  color: red;
}

/* Селекторы по атрибуту - применяют стили ко всем элементам с указанным атрибутом */
[placeholder] {
  border: 3px solid blue;
}

[type="number"] {
  box-shadow: 3px 3px 3px 3px indianred;
}

[type="tel"] {
  box-shadow: 3px 3px 3px 3px #5c5c5c;
}

[type="email"] {
  box-shadow: 3px 3px 3px 3px green;
}

/* При добавлении перед знаком равно разных символов, можно прокачать селектор по атрибуту */
/* * - применяет стили ко всем элементам на странице, у которого есть такой атрибут и значение атрибута */
/* [href*="hh.ru"] {
  color: red;
}

[href*="habr.com"] {
  color: blue;
} */

/* ^ - если нужно выбрать элементы, у которых атрибут начинается с определенного значения */
/* [href^="https://"]
{
  color: green;
}

[href^="http://"]
{
  color: red;
} */

/* $ - если окончание значение атрибута совпадает с селектором. */
[href$=".ru/"] {
  color: orange;
}

[href$=".com/"] {
  color: purple;
}

/* ~ - ищет отдельные слова в атрибутах */

/* */
